<div th:fragment="script">
    <script src="/assetsbackend/js/jquery.min.js"></script>
    <script src="/assetsbackend/js/jquery-ui.js"></script>
    <script src="/assetsbackend/js/bootstrap.min.js"></script>
    <script src="/assetsbackend/js/adminlte.min.js"></script>
    <script src="/assetsbackend/js/dashboard.js"></script>
    <script src="/assetsbackend/tinymce/tinymce.min.js"></script>
    <script src="/assetsbackend/tinymce/config.js"></script>
    <script src="/assetsbackend/js/function.js"></script>
</div>