<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="admin/fragments/head :: head"></head>

<body class="hold-transition skin-blue sidebar-mini">

  <header th:replace="admin/fragments/header :: header"></header>
  <div th:replace="admin/fragments/sidebar :: sidebar"></div>
  <div layout:fragment="content">

  </div>
  <div th:replace="admin/fragments/footer :: footer"></div>
  <div th:replace="admin/fragments/script :: script"></div>
</body>

</html>